/* app css stylesheet */
html ,body{
	width: 100%;
	background-color: #316bff;
	font-family: Helvetica, sans-serif;
}
.textcheck {
	font-size: 3em;
	font-family: WingDings;
	cursor: pointer;
}
#imagediv{	
	width: 373px;
	margin: auto;
	background-color: #000;
	overflow-x: hidden;		
}
#imagediv image {	
	
}
.answerwingding{
	/*font-size: 4em;*/
}
.container {
	width: 100%;
}
.correct {
	color: white;
	background-color: green;
}

.incorrect {
	color: white;
	background-color: red;
}
.answerbuttondiv {
	/*border: solid 3px #000;*/
	border: solid 1px #000;
	width: 98%;	
}
.answerbuttons {
	cursor: pointer;
	width: 200px;
	text-align:center;
	padding: 10px;
	margin: 4px;
	border: dashed 1px #000;
	background-color: #FFA500;
	padding-top: 10px;
	float: left;
	/*font-size: 1.5em;*/
}
.score {
	/*font-size: 4em;*/
	width: 98%;
	text-align: center;
	border: solid 1px #ccc;
	/*background-color: #FFF;*/
	color: #0F0;
	padding: 2px;
}
.quizoptions{
	width: 98%;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.question{
	/*font-size: 2em;*/
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: #000;
	color: white;
}
.question, .answer {
	width: 98%;	
	text-align: center;	
}
.studymode {
	background-color: #000;
	color: white;
	width: 98%;
	text-align: center;	
}