/* app css stylesheet */
html ,body{
	width: 100%;
	/*background-color: #316bff;*/
	font-family: Helvetica, sans-serif;
}
.textcheck {
	font-size: 1.5em;
	font-family: WingDings;
	cursor: pointer;
}
#imagediv{	
	width: 373px;
	margin: auto;
	background-color: #FFFFFF;
	overflow-x: hidden;		
}
#imagediv image {	
	
}
.answerwingding{
	/*font-size: 4em;*/
}
.container {
	width: 98%;
}
.correct {
	color: white;
	background-color: green;
}

.incorrect {
	color: white;
	background-color: red;
}
.answerbuttondiv {
	/*border: solid 3px #FFFFFF;*/
	width: 98%;
	margin-left: auto;
	margin-right: auto;
}
.answerdivs {
}

.quizoptiontable{
	border: solid 1px #FFFFFF; 
	padding:0px;
	margin: auto; 
	width: 100px;
	line-height: 2em;
}
.answerbuttons {
	cursor: pointer;
	width: 200px;
	text-align:center;
	padding: 10px;
	margin: 4px;
	border: dashed 1px #FFFFFF;
	background-color: #AAA;
	padding-top: 10px;
	float: left;
	color: white;
	/*font-size: 1.5em;*/
}
.score {
	/*font-size: 4em;*/
	width: 98%;
	text-align: center;
	border: solid 1px #FFFFFF;
	background-color: #FFFFFF;
	color: #FFF;
	padding: 2px;
	font-weight: bold;
}
.quizoptions{
	width: 98%;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.question{
	/*font-size: 2em;*/
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: #FFFFFF;
	color: black;
}
.question, .answer {
	width: 98%;	
	text-align: center;	
}
.answerwingding{
	font-size: 6em;
}
.studymode {
	background-color: #FFFFFF;
	color: black;
	width: 98%;
	text-align: center;	
}