<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="qzApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="qzApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="qzApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="qzApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">  
</head>
<body ng-controller="quizController">
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  
<div class="container">
    <div id="imagediv">
        <img style="margin: auto;display: block;" ng-src="{{Question.picture}}"></img>		
    </div>
	<div class="score">
		{{ Score() | pct:0 }} %
	</div>
    <div class="question" id="questionDiv">
        {{Question.question}}
    </div>
    <div id="dvOptions">
        <span>Study Mode <input type="checkbox" ng-model="StudyMode" ng-click="StudyMode_OnClick()" /></span>
        <span>Sequential Mode<input type="checkbox" ng-model="SequentialMode" ng-click="SequentialMode_OnClick()" /> </span>
    </div>
    <div class="answer">
        <div ng-class="lastResult.cssClass" style="padding: 10px"> 
			{{ lastResult.msg}}
		</div>
		<div class="studymode" ng-show="StudyMode">
			{{ Question.answer}}
		</div>
    </div>
    <div id="answerdivs">        
        <div ng-repeat="ans in lstAnswers">
            <input class="answerbuttons" type="button" ng-click="TestAnswer(ans.qid)" value="{{ ans.answer }}">
        </div>
    </div>
	
</div>
  
  <script src="angular.min.js"></script>  
  <script src="app.js"></script>    
  <script src="db.js"></script>
  <script src="quizController.js"></script>
</body>
</html>
