<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="qzApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="qzApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="qzApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="qzApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ dbTitle() }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">  
</head>
<body id="mainbody" ng-controller="quizController">
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

<div id="qzcontainer" class="container" ng-if="MenuMode==false" >
    <div id="imagediv" data-zoomed="false">
		<div id="viewportimgzoom" class="wingdtextbutton" style="display: none;" onclick="quizApp.ImageZoom_OnClick()">			
			<div style="float: left; width: 50%;">&#x00F8;</div>
			<div style="float: right; width: 50%;">&#x00F7;</div>			
		</div>	
        <img id="qzimage" ng-src="{{Question.picture}}" onclick="quizApp.StudyImage_OnClick()"></img>				
	</div>	
	<table class="quizoptiontable">
			<tr>
				<th rowspan="2">
					<div id="imgzoom"  class="wingdtextbutton" style="font-size: 1.5em;" ng-click="btnHome_OnClick()">
						&#x1f4d6;
					</div>
				</th>
				<th>
					<span style="font-size: 1.5em;">S</span>
				</th>
				<th>
					<span style="font-size: 1.5em;">M</span>
				</th>
				<th>
					<span style="font-size: 1.5em;">T</span>
				</th>
				<th>
					<span style="font-size: 1.5em;">C</span>
				</th>
				<th rowspan="2">
					<div id="imgzoom"  class="wingdtextbutton" onclick="quizApp.ImageZoom_OnClick()">
						&#x00f7;
					</div>
				</th>
			</tr>
			<tr>
				<td>
					<span title="Sequential Mode">
						<span class="textcheck" ng-click="SequentialMode_OnClick()" ng-show="SequentialMode">☑</span>
						<span  class="textcheck" ng-click="SequentialMode_OnClick()" ng-show="!SequentialMode" >☐</span>
					</span>
				</td>
				<td>
					<span title="Learn and Memorize">
						<span  class="textcheck" ng-click="StudyMode_OnClick()" ng-show="StudyMode">☑</span>
						<span  class="textcheck" ng-click="StudyMode_OnClick()"  ng-show="!StudyMode" >☐</span>
					</span>
				</td>
				<td>
					<span title="Text Mode">
						<span  class="textcheck" ng-click="MultipleChoiceMode_OnClick()" ng-show="MultipleChoiceMode">☑</span>
						<span  class="textcheck" ng-click="MultipleChoiceMode_OnClick()"  ng-show="!MultipleChoiceMode" >☐</span>
					</span>
				</td>
				<td>
					<span title="Stop until you've answered correctly">
						<span  class="textcheck" ng-click="StopOnIncorrectAnswer_OnClick()" ng-show="StopOnIncorrectAnswer">☑</span>
						<span  class="textcheck" ng-click="StopOnIncorrectAnswer_OnClick()"  ng-show="!StopOnIncorrectAnswer" >☐</span>
					</span>
				</td>
			</tr>
		</table>
	<div class="score">
		{{ Score() | pct:0 }}%
	</div>
    <div class="question" id="questionDiv">
        {{Question.question}}
    </div>
	<div class="answer">
        <div ng-class="lastResult.cssClass" style="padding: 5px">
			<div class="answerwingding" ng-show="lastResult.correct" style="font-family:Wingdings">&#x004a;</div>
			<div class="answerwingding" ng-show="lastResult.correct == false" style="font-family:Wingdings">
			<span ng-show="(Score()) >= 80.00">&#x004b;</span>
			<span ng-show="(Score()) < 80.00">&#x004c;</span>
			</div>
			
		</div>
		<div>
			<span ng-show="StudyMode" >{{ Question.answer}}</span>
			<span ng-show="!lastResult.correct" >{{ lastResult.Question.answer}}</span>
		</div>
    </div>
    <div class="answerbuttondiv" ng-show="!MultipleChoiceMode">
		<span class="collectionOfButtons" ng-repeat="ans in lstAnswers">
			<input class="answerbuttons" type="button" ng-click="TestAnswer(ans.qid)" value="{{ ans.answer }}">
		</span>
	</div>
	<div class="answertextdiv" ng-show="MultipleChoiceMode">
		<div class="answerbuttondiv">
			<input type="text" id="txtAnswer"  ng-keyup="txtAnswer_KeyUp($event)" ng-model="$parent.txtAnswer"  class="answertext" size="80"></input>
		</div>
		<div class="answerbuttondiv">
			<input id="btnAnswer" type="button" class="answerbuttons"  ng-click="btnTestAnswer_OnClick()" value="Answer"> </input>
		</div>
	</div>
</div>
<div class="container" ng-if="MenuMode">
<div class="menudivs">
	<!-- menu links here -->
	<div ng-click="$parent.ShowQuizByViewName('Sight_Reading_1', false)">Sight_Reading_1</div>
	<div ng-click="$parent.ShowQuizByViewName('Brass_Ranges', false)">Brass_Ranges</div>
	<div ng-click="$parent.ShowQuizByViewName('FifthsCircle', false)">FifthsCircle</div>
	<div ng-click="$parent.ShowQuizByViewName('InstrumentRanges', false)">InstrumentRanges</div>
	<div ng-click="$parent.ShowQuizByViewName('KeyRecognition', false)">KeyRecognition</div>
	<div ng-click="$parent.ShowQuizByViewName('KeyRecognition_Major', false)">KeyRecognition_Major</div>
	<div ng-click="$parent.ShowQuizByViewName('KeyRecognition_Minor', false)">KeyRecognition_Minor</div>
	<div ng-click="$parent.ShowQuizByViewName('String_Ranges', false)">String_Ranges</div>
	<div ng-click="$parent.ShowQuizByViewName('VocalRanges', false)">VocalRanges</div>
	<div ng-click="$parent.ShowQuizByViewName('WoodWind_Ranges', false)">WoodWind_Ranges</div>
</div>
</div>
  <script src="library.js"></script>
  <script src="angular-route.js"></script>
  <script src="app.js"></script>    
  <script src="db.js"></script>
  <script src="quizController.js"></script>
</body>
</html>
