document.write('\
<div ng-click="$parent.ShowQuizByViewName(\'Bass_Clef\', false)">Bass_Clef</div>\
<div ng-click="$parent.ShowQuizByViewName(\'Brass_Ranges\', false)">Brass_Ranges</div>\
<div ng-click="$parent.ShowQuizByViewName(\'FifthsCircle\', false)">FifthsCircle</div>\
<div ng-click="$parent.ShowQuizByViewName(\'InstrumentRanges\', false)">InstrumentRanges</div>\
<div ng-click="$parent.ShowQuizByViewName(\'KeyRecognition\', false)">KeyRecognition</div>\
<div ng-click="$parent.ShowQuizByViewName(\'KeyRecognition_Major\', false)">KeyRecognition_Major</div>\
<div ng-click="$parent.ShowQuizByViewName(\'KeyRecognition_Minor\', false)">KeyRecognition_Minor</div>\
<div ng-click="$parent.ShowQuizByViewName(\'Sight_Reading_1\', false)">Sight_Reading_1</div>\
<div ng-click="$parent.ShowQuizByViewName(\'String_Ranges\', false)">String_Ranges</div>\
<div ng-click="$parent.ShowQuizByViewName(\'Treble_Clef\', false)">Treble_Clef</div>\
<div ng-click="$parent.ShowQuizByViewName(\'VocalRanges\', false)">VocalRanges</div>\
<div ng-click="$parent.ShowQuizByViewName(\'WoodWind_Ranges\', false)">WoodWind_Ranges</div>\
');