document.write('\
<div ng-click="$parent.ShowQuizByViewName(\'Bass_Clef\', true)">Bass_Clef</div>\
<div ng-click="$parent.ShowQuizByViewName(\'Brass_Ranges\', true)">Brass_Ranges</div>\
<div ng-click="$parent.ShowQuizByViewName(\'FifthsCircle\', true)">FifthsCircle</div>\
<div ng-click="$parent.ShowQuizByViewName(\'InstrumentRanges\', true)">InstrumentRanges</div>\
<div ng-click="$parent.ShowQuizByViewName(\'KeyRecognition\', true)">KeyRecognition</div>\
<div ng-click="$parent.ShowQuizByViewName(\'KeyRecognition_Major\', true)">KeyRecognition_Major</div>\
<div ng-click="$parent.ShowQuizByViewName(\'KeyRecognition_Minor\', true)">KeyRecognition_Minor</div>\
<div ng-click="$parent.ShowQuizByViewName(\'Sight_Reading_1\', true)">Sight_Reading_1</div>\
<div ng-click="$parent.ShowQuizByViewName(\'String_Ranges\', true)">String_Ranges</div>\
<div ng-click="$parent.ShowQuizByViewName(\'Treble_Clef\', true)">Treble_Clef</div>\
<div ng-click="$parent.ShowQuizByViewName(\'VocalRanges\', true)">VocalRanges</div>\
<div ng-click="$parent.ShowQuizByViewName(\'WoodWind_Ranges\', true)">WoodWind_Ranges</div>\
');
